@import url(./normalize.css);

.page {
 background-color: #000000;
 color: #ffffff;
}

.logo {}

.logo__image {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 70px;  
  margin-top: 34px;
  margin-left: 505px;
}

.lead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.lead__title {
    max-width: 793px;
    max-height: 200px;
    margin: 0 auto;
    font: "Inter";
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}
    
.lead__subtitle {
    max-width: 720px;
    max-height: 72px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    font: "Inter";
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.lead__image {
    max-width: 984px;
    max-height: 615px;
    border: 1px black;
    margin-top: 0;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
}

.intro {}

.intro__title {}

.intro__paragraph {}

.intro__author {}

.intro__subparagraph {}

.photo__grid {
    width: 1184px;
    height: 442px;
    top: 1877px;
    left: 48px;
}

.photo__item {
   width: 284px;
   height: 213px;
   top: 1877px;
   left: 48px; 
}

.content {

}

.content__item {}

.content__title {}

.content__image {}

.content__subtitle {}

.content__author {}

.content__paragraph {}

.content__button {
    width: Hug (335px);
    height: Hug (48px);
    top: 3119px;
    left: 148px;
    border-radius: 4px;
    padding: 13px, 20px, 13px, 20px;
    gap: 10px;
    background-color: #0278FE;
    color: #ffffff;
}